.container {
  width: 80%; 
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
}

#words{
  background-color: red;
}
.btn2{
  background-color: blue;
}
#btn{
  display: flex;
  justify-content: end;
  background-color: grey;
}
.form{
  margin-top: -8px;
}
#header{
  background-color: grey;
}